<!DOCTYPE html>
<html>

<head>

    <title>Error</title>

    <style>

        body{
            font-family:Arial;
            text-align:center;
            background:#F08080;
            padding-top:100px;
        }

        .box{
            background:white;
            width:400px;
            margin:auto;
            padding:30px;
            border-radius:10px;
            box-shadow:0px 0px 10px gray;
        }

    </style>

</head>

<body>

<div class="box">

    <h1>Oops 😢</h1>

    <p>Something went wrong!</p>

    <a href="/">Go Home</a>

</div>

</body>

</html>